<p id="notice"><%= notice %></p>

<h1>Heroes</h1>

<div style="border: solid; display: inline-block; padding: 0 2px; border-bottom: none">
  <h2 style="padding-left: 2px; display:inline-block; margin-right: 10px">Unlocks: <%= get_unlocks(@heros) %> / <%= get_totals(@heros) %></h2>
  <div class="container" style="padding-bottom: 1em;">
    <div class="progress">
      <div class="progress-bar" style="padding-left: 50%; width:<%=get_ratio(@heros)%>%;"><%=get_ratio(@heros)%>%</div>
    </div>
  </div>
</div>
<div>
  <div style="float:left; width: 30%;">
    <table>
      <%= render(Array(@heros)[0,(@heros.length) / 2]) %>
    </table>
    <%= link_to 'New Hero', new_hero_path %>
  </div>
  <div style="float:left; width: 30%;">
    <table>
      <%= render(Array(@heros)[(@heros.length / 2),@heros.length]) %>
    </table>
  </div>
</div>
