<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hero.name %>
</p>

<p>
  <strong>Total:</strong>
  <%= @hero.total %>
</p>

<p>
  <strong>Unlocks:</strong>
  <%= @hero.unlocks %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @hero.image_url %>
</p>

<%= link_to 'Edit', edit_hero_path(@hero) %> |
<%= link_to 'Back', heros_path %>
