<<<<<<< HEAD
<div class="edit-user-form">
=======
>>>>>>> 6eea5c94dcd3075e80929bde240b936dffc59413
<%= form_for(user) do |f| %>
<% if user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="field">
  <%= f.label :twitch_profile_name %>
  <%= f.text_field :twitch_profile_name %>
</div>

<div class="field">
  <%= f.label :display_name %>
  <%= f.text_field :display_name %>
</div>

<<<<<<< HEAD
<div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
</div>

<div class = "field">
    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation %>
</div>

=======
>>>>>>> 6eea5c94dcd3075e80929bde240b936dffc59413
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
<<<<<<< HEAD
</div>
=======
>>>>>>> 6eea5c94dcd3075e80929bde240b936dffc59413
